.ItemList {
	list-style-type: none;
	display: inline-block;
	padding: 15px 0;
	margin: 15px 0;
}

.ListItem {
	display: inline-block;
	border-color: #b2bab7;
	max-width: 25%;
	height:210px;
	text-align: horizontal;
	vertical-align: text-top;
}

.Contain {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.thumbnail {
	height: 220px;
}

.caption img {
	height: 120px;
}